@using Microsoft.AspNetCore.Http
@model List<ResdbClass>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px
        }
    </style>

<div>


    <h1>Reservations</h1>

    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
            <th>Occasion</th>
            <th>Username</th>
        </tr>
        @foreach (var Restb in Model)
        {
<tr>
    <td>@Restb.udate</td>
    <td>@Restb.utime</td>
    <td>@Restb.partysize</td>
    <td>@Restb.occasion</td>
    <td>@Restb.username</td>
</tr>}
    </table>
    <br>
    <a href='@Url.Action("AdminUSR", "Home")'>
        <button type="button" class="btn btn-primary">Switch to User info</button>
    </a>
    <a href='@Url.Action("Secured", "Home")'>
        <button type="button" class="btn btn-primary">Make a Reservation</button>
    </a>
    <div class="row container login-container">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <input type="text" name="partysize" placeholder="Party Size" required="" />
                </div>
                <div class="form-group">
                    <input type="text" name="occasion" placeholder="Occasion" required="" />
                </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" />
                </div>
                <div>
                    <br>
                    <label for="updatepartysize">To update a reservation's party size, enter the new value in the below textbox</label>
                    <br>
                    <input type="text" name="updatepartysize" placeholder="Updated Party Size" />
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>